# Clean Data

### Imports

In [1]:
import numpy as np
import pandas as pd

## Clean NFL Combine Data

In [15]:
combine_file = r'data\nfl_combine_1987_2020.csv'

df_raw_combine = pd.read_csv(combine_file)

df_raw_combine.head()

,Unnamed: 0,Year,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),Wonderlic,40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,0,1987,Mike Adams,Arizona State,CB,69.8,198,8.50,30.50,NaN,4.42,13.0,32.0,118.0,4.60,NaN,11.91
1,1,1987,John Adickes,Baylor,C,74.8,266,10.25,30.00,NaN,4.97,25.0,26.5,103.0,4.60,NaN,NaN
2,2,1987,Tommy Agee,Auburn,FB,71.8,217,9.00,30.75,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
3,3,1987,David Alexander,Tulsa (OK),C,75.0,279,10.50,32.75,NaN,5.13,22.0,27.5,105.0,4.33,NaN,NaN
4,4,1987,Lyneal Alston,Southern Mississippi,WR,72.1,202,10.00,33.00,NaN,4.64,7.0,32.0,114.0,4.52,NaN,11.85

In [16]:
combine_cols_to_drop = ['Unnamed: 0', 'Wonderlic']
df_combine = df_raw_combine
df_combine.drop(columns=combine_cols_to_drop, inplace=True)
df_combine.head()

,Year,Name,College,POS,Height (in),Weight (lbs),Hand Size (in),Arm Length (in),40 Yard,Bench Press,Vert Leap (in),Broad Jump (in),Shuttle,3Cone,60Yd Shuttle
0,1987,Mike Adams,Arizona State,CB,69.8,198,8.50,30.50,4.42,13.0,32.0,118.0,4.60,NaN,11.91
1,1987,John Adickes,Baylor,C,74.8,266,10.25,30.00,4.97,25.0,26.5,103.0,4.60,NaN,NaN
2,1987,Tommy Agee,Auburn,FB,71.8,217,9.00,30.75,NaN,15.0,NaN,NaN,NaN,NaN,NaN
3,1987,David Alexander,Tulsa (OK),C,75.0,279,10.50,32.75,5.13,22.0,27.5,105.0,4.33,NaN,NaN
4,1987,Lyneal Alston,Southern Mississippi,WR,72.1,202,10.00,33.00,4.64,7.0,32.0,114.0,4.52,NaN,11.85

In [18]:
df_combine['POS'].value_counts().to_clipboard()